@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanLight.woff2') format('woff2'),
        url('../fonts/MilkmanLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanBold.woff2') format('woff2'),
        url('../fonts/MilkmanBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanRegular.woff2') format('woff2'),
        url('../fonts/MilkmanRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Appears DEMO';
    src: url('../fonts/AppearsDEMO-Regular.woff2') format('woff2'),
        url('../fonts/AppearsDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --blue : #76B0ED;
    --pink : #F059FA;
    --purple :#820AD6;
    --lightbleu :#B8DFCE;
    --lightgreen :#DCE379;
    --darkpurple :#530AE4;

}

body {
    margin: auto;
    max-width: 375px;
}
.website-50 {
    background-color: var(--lightbleu);
}
.website-60 {
    background-color: var(--lightgreen);
}
.website-70 {
    background-color: var(--darkpurple);
}
.product {
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 4px;
}
.product50 {
    color: var(--blue);
}
.product60 {
    color:var(--pink);
}
.product70 {
    color: var(--purple);
}

.amber-home {
    
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 3px ;
    
}
.about {
    margin: 70px 30px;
}
h4 {
    text-align: left;
    margin: 30px;
    padding-top: 20px; 
    font-size: 30px;
}

.partners {
    border-width: 2px;
    border-style: solid;
    border-color: black;
   
}

.button {
    width: 40px;
    margin-bottom: 10px;
    margin-left: 80%;
}
h3 {
    text-align: right;
    font-size: 50px;
}

.menu-product  {
    text-align: right;
    color: var(--pink);
}
.menu-contact {
    text-align: right;
    color: var(--purple);
}



    