@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanLight.woff2') format('woff2'),
        url('../fonts/MilkmanLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanBold.woff2') format('woff2'),
        url('../fonts/MilkmanBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanRegular.woff2') format('woff2'),
        url('../fonts/MilkmanRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Appears DEMO';
    src: url('../fonts/AppearsDEMO-Regular.woff2') format('woff2'),
        url('../fonts/AppearsDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --blue : #76B0ED;
    --pink : #F059FA;
    --purple :#820AD6;
    --lightpink :#d3accd;
    --lightbleu :#B8DFCE;
    --lightgreen :#DCE379;
    --darkpurple :#530AE4;
    --darkblue: #6B79CA ;
    --babybue: #b3dee7 ;
    --lightpurple : #304697a1 ;
    --green :#8abf42 ;

}

body {
    margin: auto;
    max-width: 375px;
}
.website-50 {
    background-color: var(--lightbleu);
}
.website-60 {
    background-color: var(--lightgreen);
}
.website-70 {
    background-color: var(--green);
}
.index {
    background-image: url(../img/font_page-dacceuil.jpg);
}
.product {
    background-color: black;
    text-align: center;
    color: white;
    margin-top: 4px;
}
.product50 {
    color: var(--babybue);
}
.product60 {
    color:var(--lightgreen);
}
.product70 {
    color: var(--green);
}
.amber-home {
    
    border-width: 2px;
    border-style: solid;
    border-color: black;
    padding: 3px ;
    
}
.about {
    margin: 70px 30px;
   
}


.partners {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    margin: 20px 0;
   
}

.button {
    width: 40px;
    margin-bottom: 10px;
    margin-left: 80%;
}
h2 {
text-align: left;
font-family: monospace;
}
h3 {
    text-align: right;
    font-size: 50px;
    margin: 20px 30px;
}
h4 {
    text-align: left;
    margin: 30px;
    padding-top: 20px; 
    font-size: 30px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
    padding: 30px 0px;
}

.button-nav {
    width: 100px;
    text-align: center;
    padding: 0 50px;
    margin: 1px 0;
}

.menu-product,
.menu-contact {
    align-self: flex-end;
    
}

.menu-home,
.menu-partners {
    align-self: flex-start; 
    
}


.menu-product a {  
    color: var(--pink);
}

.menu-contact a {
    color: var(--purple);
}

.menu-home a {
    color: var(--darkblue); 
     
}

.menu-product a {
    color: var(--pink);
}

.menu-partners a {
    color: var(--blue);
}

a {
    text-decoration: none;

}
.menu-home {
    border : var(--darkblue) 1px solid;
}
.menu-product {
    border: var(--pink) 1px solid;
}
.menu-partners {
    border: var(--blue) 1px solid;
}
.menu-contact {
    border: var(--purple) 1px solid;
}
.contact {
   text-align: center;
   display: flex;
   justify-content: space-evenly;
   padding: 30px 0;
   
}

.logo-contact {
    height: 50px;
    display: flex;
    background-color: none;
    
    
}

.logo-eikon {
    text-align: center;
    width: 50px;
    padding: 0 43%;
}

.amber-about {
    margin: 0px 0px ;
   
}
.description {
    padding: 40px 90px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
}
.block50 {
    background-color: var(--lightpink);
    
}
 .block60 {
    background-color: var(--babybue);
}
.block70 {
  background-color: var(--lightpurple);
  
}

.partners-img {
    width: 50px;
}
.link {
    border: 2px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    text-align: center;
    margin: 15px 0;
    text-decoration: none;
    
}