@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanLight.woff2') format('woff2'),
        url('../fonts/MilkmanLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanBold.woff2') format('woff2'),
        url('../fonts/MilkmanBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Milkman';
    src: url('../fonts/MilkmanRegular.woff2') format('woff2'),
        url('../fonts/MilkmanRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Appears DEMO';
    src: url('../fonts/AppearsDEMO-Regular.woff2') format('woff2'),
        url('../fonts/AppearsDEMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root {
    --blue : #76B0ED;
    --pink : #F059FA;
    --purple :#820AD6;

}

body {
    margin: auto;
    max-width: 375px;
}
.fifties {
    background-color: black;
    text-align: center;
    color: white;
   
}
.sixties {
    background-color: black;
    text-align: center;
    color: white;
}
.seventies {
    background-color: black;
    text-align: center;
    color: white;
}
.amber-home {
    
    border-width: 2px;
    border-style: solid;
    border-color: black;
    
}
.about {
    margin: 70px 30px;
}
h4 {
    text-align: left;
    margin: 30px;
    padding-top: 20px; 
    font-size: 30px;
}
p {
    text-align: center;
    padding-bottom: 60px; ;
}
.partners {
    border-width: 2px;
    border-style: solid;
    border-color: black;
   
}
.product50 {
    color: var(--blue);
}
.product60 {
    color:var(--pink);
}
.product70 {
    color: var(--purple);
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  padding: 50px;
}

    